/* ©2014 Ruben Verborgh - Multimedia Lab / iMinds / Ghent University */

html, textarea, button {
  font: 11pt/1.4 'Open Sans', Verdana, Arial, sans-serif;
  outline: none;
}

html {
  background: #f6f6f6;
}

body {
  max-width: 650px;
  margin: 0 auto;
  padding: 1em 3em;
  background: white;
  box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.75);
}

a, button, button:hover, label {
  color: #be1622;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #be1622;
  text-decoration: underline;
}
header a {
  color: inherit;
}
button {
  font-weight: bold;
  color: black;
  background-color: #f6f6f6;
  border-radius: 3px;
  padding: 5px 8px;
  margin-left: -1px;
  border: 1px solid #999999;
  cursor: pointer;
}
button:disabled {
  color: gray;
}
label:after {
  content: ":";
}

header h1 {
  margin: .6em 0 0;
}
header p {
  font-weight: bold;
  margin: 0 0 2em;
}
header .logo {
  float: right;
}
header img {
  width: 160px;
  border: none;
}

fieldset {
  border: none;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin: .5em 0;
}

select {
  min-width: 390px;
  float: right;
}

textarea {
  width: 100%;
  min-height: 11em;
  border: none;
  cursor: pointer;
  margin: 0 0 1em;
  font-size: .95em;
}
textarea:hover {
  color: #be1622;
}

pre {
  width: 100%;
  max-width: 650px;
  height: 25em;
  font-size: 9pt;
  overflow: scroll;
  margin: .5em 0 1em;
}

.log {
  color: #666;
  height: 6.5em;
}

footer {
  font-size: .8em;
  margin-top: 2em;
}

@media (max-width: 725px) {
  select {
    float: none;
    display: block;
  }
}

@media (max-width: 500px) {
  body {
    padding: 1em;
    font-size: 10pt;
  }
  h1 {
    font-size: 1.5em;
  }
  .logo {
    display: none;
  }
}
