/* ©2014 Ruben Verborgh - Multimedia Lab / iMinds / Ghent University */

html, textarea, button {
  font: 11pt/1.4 'Open Sans', Verdana, Arial, sans-serif;
  outline: none;
}

body {
  max-width: 650px;
  margin: 2em auto;
}

a, button, label {
  color: #be1622;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button:disabled {
  color: gray;
}

header h1 {
  margin: .7em 0 0;
}
header p {
  font-weight: bold;
  margin: 0 0 3em;
}
header .logo {
  float: right;
}
header img {
  width: 160px;
  border: none;
}

fieldset {
  border: none;
  padding: 0;
}
fieldset p {
  margin: 0;
}

label {
  display: block;
  padding: 2em .5em .5em 0;
}

footer {
  font-size: .8em;
  margin-top: 2em;
}

textarea {
  width: 100%;
  min-height: 10em;
  border: none;
  cursor: pointer;
  margin: 0 0 1em;
}
textarea:hover {
  color: #be1622;
}

pre {
  width: 100%;
  max-width: 650px;
  height: 20em;
  font-size: 9pt;
  overflow: scroll;
  margin: 0;
}

.log {
  color: #666;
}

.examples, .startFragments {
  float: right;
  padding: 2em 0;
}
.startFragments {
  padding: .3em 0;
}
div > label {
  display: inline;
}
select {
  min-width: 250px;
}
